.grid {
    display: grid;
    grid-template-columns: 500px 1fr;
    min-height: 100vh;
    &__cards {
        background: url(/app/assets/images/bg-main-desktop.png) no-repeat;
        height: 100%;
        position: relative;
    }

    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
        // transition: .4s;
    }
}
